<html>
	
	<head>
	<title> U B E R </title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel='stylesheet' type='text/css' href='css/uberdriver.css'>
	 <script src="scripts/handlebars-v3.0.3.js"></script>
	  <script src="scripts/actions.js"></script>
	</head>

	<body>




	


	<div class='container'>

		<div class='row'>
			<img src='images/uberlogo.png' id='logo'>
				<div class="btn-group" id='options'>
				  <button type="button" class="btn btn-primary">Agent Chat </button>
				  <button type="button" class="btn btn-primary">Call Agent</button>
				  <button type="button" class="btn btn-primary">Post an issue</button>
				</div>

			</div>

			<div class='row'>
				<div class="btn-group" id='tabs'>
				  <button type="button" id='faqs-button' class="btn btn-primary">FAQ </button>
				  <button type="button" id='docs-button' class="btn btn-primary">Documents</button>
				  <button type="button" id='history-button' class="btn btn-primary">History</button>
				</div>
				
				<div class='col-md-8' id='tabspace'>

					
			   </div>





				<div class='col-md-8' id='profile'>
					<h2><span class='label'> Uber Profile </span></h2>
					<br>
					<h6> Mark Winston , Cape Town</h6>				
					<h6> Vehicle: Toyota Corolla xls </h6>
					<h6> ID No: 8539230985081</h6>
					<h6> Rating :<div class="rating">
					<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
					</div></h6>
					<br>
					<h5><span class='label'> No issues in progress </span></h5>
					<br>
					<h5><span class='label'> All documentation complete </span></h5>


				</div>

		</div>



	</div>

	
	<script type='text/x-handlebars-template' id ='faqs-html'>
					<h6> Frequently Asked Questions</h6>
					
					<div class="panel-group" id="accordion">
					 	\{{#each Questions}}
				        <div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">\{{question}}</a>
				                </h4>
				            </div>
				            <div id="collapse" class="panel-collapse collapse in">
				                <div class="panel-body">
				                    <p>\{{answer}} <button class='more' id='btn\{{num}}'onclick="expandThis('btn\{{num}}')">more</button></p>
				                </div>
				            </div>
				        </div>
				       \{{/each}}
					</div>
	</script>

	<script type='text/x-handlebars-template' id ='docs-html'>
					<h6> Documents </h6>
					<div class="panel-group" id="accordion">
					 	{{#each Documents}}
				        <div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{{Document}}</a>
				                </h4>
				            </div>
				            <div id="collapse" class="panel-collapse collapse in">
				                <div class="panel-body">
				                    <p>{{info}}<a href="{{link}}" target="_blank">view...</a></p>
				                </div>
				            </div>
				        </div>
				       {{/each}}
					</div>
	</script>

	<script type='text/x-handlebars-template' id ='history-html'>
					<h6> Driver history </h6>
					<div class="panel-group" id="accordion">
					 	{{#each Documents}}
				        <div class="panel panel-default">
				            <div class="panel-heading">
				                <h4 class="panel-title">
				                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{{Document}}</a>
				                </h4>
				            </div>
				            <div id="collapse" class="panel-collapse collapse in">
				                <div class="panel-body">
				                    <p>{{info}}<a href="{{link}}" target="_blank">view...</a></p>
				                </div>
				            </div>
				        </div>
				       {{/each}}
					</div>
	</script>





	</body>
	<script type='text/javascript' src='scripts/templating.js'>
	</script>
	<script>
		templateDocumentsSection();
		templateFaqsSection();
		templateHistorySection();
	</script
</html>

